NEXT_PUBLIC_APPWRITE_PROJECT_ID=<APPWRITE PROJECT ID>
NEXT_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_USERS_FUNCTION_URL=<APPWRITE GET DEVELOPERS FUNCTION URL>
NEXT_PUBLIC_APPWRITE_DATABASE_ID=<APPWRITE DATABASE ID>
NEXT_PUBLIC_APPWRITE_API_KEY=<APPWRITE API KEY>